/* 
  Calling the fonts and making the main body font GothamMedium, which is the closest I could find to Spotify's font.
*/
@font-face {
  font-family: "GothamBold";
  src: local("GothamBold"),
   url("./fonts/GothamBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GothamMedium";
  src: local("GothamMedium"),
   url("./fonts/GothamMedium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "GothamLight";
  src: local("GothamLight"),
   url("./fonts/GothamLight.ttf") format("truetype");
  font-weight: normal;
}


body {
  font-family: "GothamMedium";
  margin: 0;
}
